 html {
  font-family: "VCR OSD MONO Regular";
  background-image: url("bgrnd.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
font-size: 30px;
max-width: 100%;
max-height: 100%;
background-attachment: fixed;
}

#loader {
  visibility: visible;
  background: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
 background: url("res/loading.gif") no-repeat center center;
}
.masthead{
  text-align: center;
}
.index-masthead{
text-align: center;
height: 650px;
}
.sitelogo{
  text-align: center;
}
.body-area{
  margin-top: 40px;
  z-index: -1;
}
div.viewbody-btn a{
  text-decoration: none;
  font-size: 40px;
  color: black;
  background-color: RGB(212,208,200);
  border: 3px outset white;
  margin-top: auto;
}
.quotes-imgs{
  margin: 20px 0 20px 0;
}
div.drpcntnt{
  width: 700px;
  height: 40px;
margin-left: auto;
margin-right: auto;
  display: block;
  position: relative;
  margin-top: 20px;
  transform: translateY(-1.5em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.aesthetic,.vaporwave,.pixelwave,.gamewave{
  position: relative;
  display: inline-block;
  margin: 10px 3px 10px 3px;
}
div.body-header span.aesthetic:focus{
  background-color: RGB(212,208,200);
  border: 3px outset white;
  z-index: 9999;
}
div.body-header span.hovertext{
  visibility: hidden;
    width: 120px;
    height: 25px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 20px;
    transition: height 0.5s, width 0.5s, ease-in 0.5s;
}
.body-header span:hover .hovertext{
  visibility: visible;
}
a.drpcntnt  {
  text-decoration: none;
  color: black ;
  background-color: RGB(212,208,200);
  border: 3px outset white;
  display: none;
}
#rescs {
  float: right;
  margin-right: 70px;
}
#suart{
float: left;
margin-right: 100px;
}
#suart,#rescs{
  text-align: left;
}
a.sitelogo-btn-img{
  height: 236px;
  width: 265px;
  display: inline-block;
}
div.sitelogo-btn,a.sitelogo-btn-img {
  margin-top: 32px;
}
.sitelogo-btn:hover .drpcntnt{
  display: block;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
.body-content img {
border: 3px outset white;
}
.body-content{
  height: auto;
}
div.body-header{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 60px;
  z-index: -1;
}
.leftsec{
  width: 308px;
  height: auto;
  display: inline-block;
  position: absolute;
  left: 50px;
  margin
}
.leftsec img,.rightsec img {
  margin-bottom: 20px;

}
.centersec img {
  margin-bottom: 40px;
}
.centersec{
  display: inline-block;
  width: 308px;
  height: auto;
  position: absolute;
  right: 50%;
  left: 37.5%;
}
.rightsec {
  display: inline-block;
  width: 308px;
  height: auto;
  position: absolute;
  right: 50px;
}
div.body-header span:hover{
  background-color: RGB(212,208,200);
  border: 3px outset white;
  margin: 0 0.1px 0 0.1px;
  display: inline-block;
}
div.body-area p{
  text-align: center;
  color: white;
}
#resourcesname{
  text-align: center;
  color: pink;
  margin: 28px 15px 0 0;
}
.reslinks {
  display: block;
  color: white;
  text-decoration-color: pink;
}
div.resource-content{
margin-left: auto;
margin-right: auto;
display: inline-block;
;position: relative;
left: 28%;
}
#category{
  margin: 0 0 30px 0;
  display: inline-block;
  color: white;
}

.myImg {
  opacity: 0.93;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 1;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}





/* Responsive css mobile */
@media screen and (max-width:480px){
html {
  background-image: url("mobile-bgrnd.jpg");
  background-size: cover;
  font-size: 20px;
  max-width: auto;
  max-height: auto;
  }
  #randompicks{
    margin: 80px 0 30px 110px;
    text-align: center;
}
#resourcesname{
  margin: 100px 0 30px 60px;
  color: white;
}
.reslinks {
  margin: 0 0 14.5px 50px;
  display: inline-grid;
}
}
