html {
  font-family: "ArcadeClassic Regular";
  background-image: url("bgrnd.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
font-size: 2.5vw;
width: 100;
height: 100;
}
div.navsec {
  display: block;
  background: transparent;
  position: sticky;
}
#suart,#cntctfrm{
  text-decoration: none;
  color: black ;
  background-color: RGB(212,208,200);
  border: 3px outset white;
  margin-bottom: 0;
  margin-top: 0;
}
#suart{
  float: left;
}
#cntctfrm{
  float: right;
}
img.sitelogo{
  height: 340px;
  width: 340px;
  opacity: 0.79;
  display: inline-block;
  margin: 5px 0 0 205px;
}
img.sitelogo:hover{
  opacity: 1;
}
.body-content img {
  height: 220px;
  width: 350px;
border: 3px outset white;
margin-left: 30px;
margin-right: 10px;
}
#randompicks{
  border: 3px outset white;
  background-color: RGB(212,208,200);
  color: black ;
  width: 200px;
}
#resourcesname{
  text-align: center;
  color: pink;
  margin-right: 30px;
}
.reslinks {
  display: block;
  color: white;
  text-decoration-color: pink;
  margin-left: 330px;
  margin-bottom: 5px;
  height: 10px;
  width: auto;
  font-family: "VCR OSD Mono Regular";

}
div.resource-content{
  height: 3cm;
  width: auto;
}


/* Responsive css mobile */
@media only screen and (max-width:580px){
html {
  background-image: url("mobile-bgrnd.jpg");
  background-size: cover;
  max-width: auto;
  max-height: auto;
  font-size: 4.5vw;
  }
  .body-content img{
    margin: 0 0 30px 50px;
  }
  .sitelogo img{
    opacity: 1;
    margin: 0 70px 0 70px;
  }
  #randompicks{
    margin: 80px 0 30px 110px;
    box-sizing: content-box;
    text-align: center;
}
#resourcesname{
  margin: 100px 0 30px 60px;
  color: white;
}
.reslinks {
  margin: 0 0 14.5px 50px;
}
}
