*{
  background-image: url(bgrnd.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.navsec {
  display: block;
  font-size: 30px;
  font-family: "ArcadeClassic Regular";
}

#sitename,#suart,#cntctfrm{
  text-decoration: none;
  color: white;
  margin: 70px;
  background: transparent;
  word-spacing: 5px;
}
