html {
  font-family: "ArcadeClassic Regular";
  background-image: url("bgrnd.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
font-size: 30px;
}
div.navsec {
  display: block;
  background: transparent;
  position: sticky;
}
#sitename,#suart,#cntctfrm{
  text-decoration: none;
  color: black ;
  margin: 0 100px 0 100px;
  background-color: RGB(212,208,200);
  border: 3px outset white;
}
img {
  height: 220px;
  width: 350px;
border: 3px outset white;
margin-left: 30px;
margin-right: 10px;
}
#toppicks{
  border: 3px outset white;
  background-color: RGB(212,208,200);
  color: black ;
  display: block;
  margin: 140px 350px 40px 540px;
  height: auto;
  width: 140px;
}
